<div id="<%= dom_id escola %>">
  <p>
    <strong>Nome:</strong>
    <%= escola.nome %>
  </p>

  <p>
    <strong>Codinep:</strong>
    <%= escola.codinep %>
  </p>

  <p>
    <strong>Instituica:</strong>
    <%= escola.instituica_id %>
  </p>

</div>
