<% content_for :title, "Editing escola" %>

<h1>Editing escola</h1>

<%= render "form", escola: @escola %>

<br>

<div>
  <%= link_to "Show this escola", @escola %> |
  <%= link_to "Back to escolas", escolas_path %>
</div>
