<% content_for :title, "Editing instituica" %>

<h1>Editing instituica</h1>

<%= render "form", instituica: @instituica %>

<br>

<div>
  <%= link_to "Show this instituica", @instituica %> |
  <%= link_to "Back to instituicas", instituicas_path %>
</div>
